.pos1{
    background-color: rgb(207, 196, 255);
    height: 300px;
    width: 300px;
    /* if position is relative or not relative position:fixed  is on same*/
    /* position: relative; */
    top: 100px;
    left: 100px;

}

.pos2{
    background-color: black;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
}